<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tfzq.ty.dao.generator.TyActivityexpertMapper">
  <resultMap id="BaseResultMap" type="com.tfzq.ty.model.generator.TyActivityexpert">
      <result column="id" jdbcType="VARCHAR" property="id" />
      <result column="activity_id" jdbcType="VARCHAR" property="activityId" />
      <result column="expert_id" jdbcType="VARCHAR" property="expertId" />
      <result column="expert_name" jdbcType="VARCHAR" property="expertName" />
      <result column="org_id" jdbcType="VARCHAR" property="orgId" />
  </resultMap>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from ty_activityexpert where ID = #{id,jdbcType=VARCHAR}
  </delete>
  
  <delete id="deleteByActId" parameterType="java.lang.String">
    delete from ty_activityexpert where activity_id = #{actId,jdbcType=VARCHAR}
  </delete>
  
  <insert id="insert" parameterType="com.tfzq.ty.model.generator.TyActivityexpert">
    insert into ty_activityexpert (
    id
	,activity_id
	,expert_id
	,expert_name
	,org_id
    )values (
    #{id,jdbcType=VARCHAR}
    	,#{activityId,jdbcType=VARCHAR}
    	,#{expertId,jdbcType=VARCHAR}
    	,#{expertName,jdbcType=VARCHAR}
    	,#{orgId,jdbcType=VARCHAR}
    )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.tfzq.ty.model.generator.TyActivityexpert">
    update ty_activityexpert
    <trim prefix="set" suffixOverrides=",">
      <if test="id != null ">
        id = #{id,jdbcType=VARCHAR},
      </if>
      <if test="activityId != null ">
        activity_id = #{activityId,jdbcType=VARCHAR},
      </if>
      <if test="expertId != null ">
        expert_id = #{expertId,jdbcType=VARCHAR},
      </if>
      <if test="expertName != null ">
        expert_name = #{expertName,jdbcType=VARCHAR},
      </if>
      <if test="orgId != null ">
        org_id = #{orgId,jdbcType=VARCHAR},
      </if>
    </trim>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select id,activity_id,expert_id,expert_name,org_id
    from ty_activityexpert
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id,activity_id,expert_id,expert_name,org_id
    from ty_activityexpert
    order by id
  </select>
  <select id="queryIds" parameterType="java.util.Map" resultType="java.lang.String">
	select id from ty_activityexpert where 1=1
	<if test="id != null and id != ''">and id like '%'||#{id}||'%'</if>
	<if test="activityId != null and activityId != ''">and activity_id like '%'||#{activityId}||'%'</if>
	<if test="expertId != null and expertId != ''">and expert_id like '%'||#{expertId}||'%'</if>
	<if test="expertName != null and expertName != ''">and expert_name like '%'||#{expertName}||'%'</if>
	<if test="keyword != null">
		and (id like '%'||#{keyword}||'%'  or activity_id like '%'||#{keyword}||'%' or expert_id like '%'||#{keyword}||'%' or expert_name like '%'||#{keyword}||'%')
	</if>
  </select>
</mapper>