<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.ibase4j.dao.generator.SysAreaMapper">
  <resultMap id="BaseResultMap" type="org.ibase4j.model.generator.SysArea">
      <result column="id" jdbcType="VARCHAR" property="id" />
      <result column="area_code" jdbcType="VARCHAR" property="areaCode" />
      <result column="area_name" jdbcType="VARCHAR" property="areaName" />
  </resultMap>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from sys_area where ID = #{id,jdbcType=VARCHAR}
  </delete>
  
  <insert id="insert" parameterType="org.ibase4j.model.generator.SysArea">
    insert into sys_area (
    id
	,area_code
	,area_name
    )values (
    #{id,jdbcType=VARCHAR}
    	,#{areaCode,jdbcType=VARCHAR}
    	,#{areaName,jdbcType=VARCHAR}
    )
  </insert>
  <update id="updateByPrimaryKey" parameterType="org.ibase4j.model.generator.SysArea">
    update sys_area
    <trim prefix="set" suffixOverrides=",">
      <if test="id != null ">
        id = #{id,jdbcType=VARCHAR},
      </if>
      <if test="areaCode != null ">
        area_code = #{areaCode,jdbcType=VARCHAR},
      </if>
      <if test="areaName != null ">
        area_name = #{areaName,jdbcType=VARCHAR},
      </if>
    </trim>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select id,area_code,area_name
    from sys_area
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id,area_code,area_name
    from sys_area
    order by id
  </select>
  <select id="queryIds" parameterType="java.util.Map" resultType="java.lang.String">
	select id from sys_area where 1=1
	<if test="keyword != null">
		and ()
	</if>
  </select>
</mapper>