<div>
    <form name="search"
          ng-submit="searchLog()">
        <input type="submit"
               value="查询"
               ng-disabled="loading.isShow"
               class="text-orange font-18 padding40 btn-search bg-red-light"/>
        <ul class="search">
            <li>
                <input type="search"
                       ng-model="log.account"
                       maxlength="16"
                       placeholder="账户">
            </li>
            <li>
                <select ng-model="log.requestUri">
                    <option value="">所有请求</option>
                    <option ng-repeat="(key,value) in requestUriDic"
                            ng-selected="log.requestUri==key"
                            value="{{key}}">{{value}}
                    </option>
                </select>
            </li>

        </ul>
    </form>
</div>