<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tfzq.tycrm.mapper.TyLabelMapper">
  <resultMap id="BaseResultMap" type="com.tfzq.tycrm.entity.TyLabel">
      <result column="id" jdbcType="VARCHAR" property="id" />
      <result column="cat_id" jdbcType="VARCHAR" property="catId" />
      <result column="cat_name" jdbcType="VARCHAR" property="catName" />
      <result column="label_name" jdbcType="VARCHAR" property="labelName" />
      <result column="order_num" jdbcType="VARCHAR" property="orderNum" />
      <result column="pre_id" jdbcType="VARCHAR" property="preId" />
      <result column="next_id" jdbcType="VARCHAR" property="nextId" />
      <result column="label_level" jdbcType="VARCHAR" property="labelLevel" />
      <result column="p_id" jdbcType="VARCHAR" property="pid" />
  </resultMap>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from ty_label where ID = #{id,jdbcType=VARCHAR}
  </delete>
  
  <insert id="insert" parameterType="com.tfzq.tycrm.entity.TyLabel">
    insert into ty_label (
    id
	,cat_id
	,cat_name
	,label_name
	,order_num
	,pre_id
	,next_id
	,label_level
	,p_id
    )values (
    #{id,jdbcType=VARCHAR}
    	,#{catId,jdbcType=VARCHAR}
    	,#{catName,jdbcType=VARCHAR}
    	,#{labelName,jdbcType=VARCHAR}
    	,#{orderNum,jdbcType=VARCHAR}
    	,#{preId,jdbcType=VARCHAR}
    	,#{nextId,jdbcType=VARCHAR}
    	,#{labelLevel,jdbcType=VARCHAR}
    	,#{pid,jdbcType=VARCHAR}
    )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.tfzq.tycrm.entity.TyLabel">
    update ty_label
    <trim prefix="set" suffixOverrides=",">
      <if test="id != null ">
        id = #{id,jdbcType=VARCHAR},
      </if>
      <if test="catId != null ">
        cat_id = #{catId,jdbcType=VARCHAR},
      </if>
      <if test="catName != null ">
        cat_name = #{catName,jdbcType=VARCHAR},
      </if>
      <if test="labelName != null ">
        label_name = #{labelName,jdbcType=VARCHAR},
      </if>
      <if test="orderNum != null ">
        order_num = #{orderNum,jdbcType=VARCHAR},
      </if>
      <if test="preId != null ">
        pre_id = #{preId,jdbcType=VARCHAR},
      </if>
      <if test="nextId != null ">
        next_id = #{nextId,jdbcType=VARCHAR},
      </if>
      <if test="labelLevel != null ">
        label_level = #{labelLevel,jdbcType=VARCHAR},
      </if>
      <if test="pid != null ">
        p_id = #{pid,jdbcType=VARCHAR},
      </if>
    </trim>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select id,cat_id,cat_name,label_name,order_num,pre_id,next_id,label_level,p_id
    from ty_label
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <select id="selectByLabelName" parameterType="java.lang.String" resultMap="BaseResultMap">
    select id,cat_id,cat_name,label_name,order_num,pre_id,next_id,label_level,p_id
    from ty_label
    where label_name = #{labelName,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id,cat_id,cat_name,label_name,order_num,pre_id,next_id,label_level,p_id
    from ty_label
    order by id
  </select>
  <select id="getAllSubRecords" resultMap="BaseResultMap">
    select id,cat_id,cat_name,label_name,order_num,pre_id,next_id,label_level,p_id
    from ty_label t where t.cat_id !='0'
    order by id
  </select>
  <select id="getSubRecordsByCondition" resultMap="BaseResultMap">
    select id,cat_id,cat_name,label_name,order_num,pre_id,next_id,label_level,p_id
    from ty_label t where t.cat_id !='0'
    <if test="labelIdList != null and labelIdList.size>0">
		and id not in
		<foreach collection="labelIdList" item="labelId" index="index"
            open="(" close=")" separator=",">
            #{labelId,jdbcType=VARCHAR}
        </foreach>
	</if>
	<if test="catId != null and catId != ''">and cat_id = #{catId}</if>
    order by id
  </select>
  <select id="getRecordsByCondition" resultMap="BaseResultMap">
    select id,cat_id,cat_name,label_name,order_num,pre_id,next_id,label_level,p_id
    from ty_label t where 1=1
    <if test="catId != null and catId != ''">and cat_id = #{catId}</if>
	<if test="catName != null and catName != ''">and cat_name like '%'||#{catName}||'%'</if>
	<if test="labelName != null and labelName != ''">and label_name like '%'||#{labelName}||'%'</if>
  </select>
  <select id="queryIds" parameterType="java.util.Map" resultType="java.lang.String">
	select id from 
		<choose>
			<when test="pids != null and pids.size()> 0">
				(select * from ty_label where p_id in <foreach collection="pids" index="index" item="item" open="(" separator="," close=")">
					#{item}
				</foreach>)
			</when>
			<otherwise>
				ty_label
			</otherwise>
		</choose>
    where 1=1
	<if test="catId != null and catId != ''">and cat_id = #{catId}</if>
	<if test="labelLevel != null and labelLevel != ''">and label_level = #{labelLevel}</if>
	<if test="catName != null and catName != ''">and cat_name like '%'||#{catName}||'%'</if>
	<if test="labelName != null and labelName != ''">and label_name like '%'||#{labelName}||'%'</if>
	<if test="keyword != null">
		and (cat_name like '%'||#{keyword}||'%'  or label_name like '%'||#{keyword}||'%')
	</if>
  </select>
  
  
</mapper>